apiVersion: v1
kind: Service
metadata:
  name: minio
  namespace: vrsky-storage
  labels:
    app: minio
spec:
  selector:
    app: minio
  type: ClusterIP
  ports:
    - port: 9000
      targetPort: 9000
      protocol: TCP
      name: api
    - port: 9001
      targetPort: 9001
      protocol: TCP
      name: console
